html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
   
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background: #fdfbec;
    font-size: 1.8em;
    line-height: 2;
    margin: 0;
    border:0;
    font-family: 'Patua One', cursive;
    padding: 9rem 2rem 0;
    
    }
        
h1{
        font-size: 3.4rem;
    }
h2{
        font-size: 3rem;
    }
h3{
        font-size: 4rem;
    }
h4{
        font-size: 2rem;
    }


img{
    max-width: 100%;
}
video{
    max-width: 100%;
}
 
/*Utilidades*/
.contenido-centrado{
    text-align: center;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
    align-items: center;
}
.contenedor-nav{
    text-align:end;
    padding: 5rem;

}
.centrar-texto{
    text-align: center;
}

/*Header*/
.site-header{
    background: #e60a0a;
    height: 8rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}
.barra{
    display: flex;
    flex-direction:row;
    justify-content: space-between ;
    align-items: center;
    height: 8rem;
    
}



.nav-menu-link{
    color: white;
    text-decoration: none;
    padding: .8rem 1.2rem;
    border-radius: .3rem;
    
}
.nav-menu-link:hover{
    transition: .5s;
    background-color:  rgb(133, 0, 0);
}

.logo{
    width: 10rem;
    height: 80rem;
    padding: 0rem 0.2rem 0 1rem;
    
}
.nav-menu{
    display: flex;
    margin-right: 4rem;
    list-style: none;
}

.nav-menu-item{
    font-size: 1.8rem;
    margin: 0 1rem;
    line-height: 8rem;
    text-transform: uppercase;
    width: max-content;

}
.toggle{
    color: #ffff;
    background: none;
    border: none;
    padding-right: 2rem;
    display: none;
}
.toggle:hover{
    cursor: pointer;
}

.menu-hamburguesa{
    height: 6rem;
    }


@media (max-width: 1000px ){
body{
        
   padding-top: 7rem;
}

/*Header*/
.site-header{
    
    height: 12rem;
    

}
.barra{
    display: flex;
    flex-direction:row;
    justify-content: space-between ;
    align-items: center;
    height: 12rem;
    
}
.nav-menu{
    top: 10rem
}

.nav-menu-link{
    color: white;
    text-decoration: none;
    padding: .8rem 1.2rem;
    border-radius: .3rem;
    
}
.nav-menu-link:hover,
.nav-menu-link_active {
    transition: .5s;
    background:#e60a0a;
}

.logo{
    width: 10rem;
    height: 100%;
    padding: .2rem;
    margin: 0 2rem;
    
    
}
.nav-menu{
   flex-direction: column;
   margin:0 2rem 0 0;
   background-color:  rgb(133, 0, 0);
   position: fixed;
   left: 100%;
   transition: .3s;
   top: 10rem;
   width: 100%;
   align-items: center;
   padding:2rem 0;
}
.nav-menu_visible{
    left: 0;
}

.nav-menu-item{
    
    line-height: 7rem;
    

}
.toggle{
    color: #ffff;
    background: none;
    border: none;
    display: block;
    
}

.toggle:hover{
    cursor: pointer;
}

.menu-hamburguesa{
    height: 6rem;
    padding: 1rem;
    
    }
.navigation-auto div , .navigation-manual label{
    margin-right: 55%;
}
.navigation-auto , .navigation-manual{
    width: 1100px;
    margin-left: 240px;
}
}

/*SLIDE*/

.section-slide{
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider{
    width: 800px;
    height: 500px;
    border-radius: 1rem;
    overflow: hidden;

}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;

}
.slide img{
    width: 80rem;
    height: 50rem;
    object-fit: contain;

}
/*SLIDE Navegación manual*/
.navigation-manual{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    
    
}
.manual-btn{
    border: 2px solid #DC0000;
    padding: 5px;
    border-radius: 10px;
    transition:  1s;
    cursor: pointer;
   
    
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #DC0000;
}
#radio:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%; 
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/*Estilos de slide automatico*/

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid #DC0000;
    padding: 5px;
    border-radius: 10px;
    transition:  1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;     
} 
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #DC0000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #DC0000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #DC0000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #DC0000;
}




/*PRODUCTOS*/
.algunos-productos{
    
    font-size: 3.8rem;
    margin: 1rem;
    padding: 1rem;
    letter-spacing: 2px;
    
}
.lista-productos{
    list-style: none;
    padding: 2rem;
}
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 3rem;
    
}
.anuncio{
    flex-basis: calc(50% - 2rem);
    border: 2px solid #000000;
    margin-bottom: 2rem; 
    

}
.contenedor-contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #FFDB89;
}
.incr{
    margin: 1rem;
}
.contador{
    margin: 1rem;
}
.decr{
    margin: 1rem;
}
.contenedor-contador>button{
    border-radius: 15%;
    background-color: #fdfbec;
    border: none;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    box-shadow: 0 .2rem .1rem rgba(0, 0, 0, 0.3);
}
.contenedor-contador>button:hover{
 transform: scale(1,1);
}
.contenedor-contador>button:active{
    transform: translateY(.3rem);
    box-shadow: 0 0rem .1rem rgba(0, 0, 0, 0.3);
}


button>span{
    color: black;
    height: 3rem;
    width: 3rem;
}
.contacto{
    
        position: relative;
        z-index: -1;
        
        

}
.mensaje{
    position: absolute;
    top: 0;
    font-size: 3rem;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    padding: 2rem;
}
.icono-whatsapp{
    height: 20rem;
    width: 20rem;
}

@media (max-width:750px){
.navigation-auto , .navigation-manual{
    width: 1100px;
}
.contenedor-anuncios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    
    
    
}
    .anuncio{
    flex-grow: 100%;
    border: 2px solid #000000;
    font-size: 3rem;
    
    
}

.contacto{
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    
}
.mensaje{
    top: 0;
    padding: 1.5rem;
    height: 100%;
    width: 100%;
    color: #ffff;
    font-size: 1.8rem;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    background-size: cover;
    
    

    
   

}
.mensaje >h3{
    font-size: 2rem;
}
.mensaje > a{
    font-size: 2rem;
    margin-top: -2rem;
}
.icono-whatsapp{
    height: 3rem;
    width: 3rem;
    margin-top: -2rem;
    
    }
}

.hedings::after{
    content: '';
    display: block;
    margin: 0 auto;
    width: 30rem;
    height: 1rem;
    background: #e60a0a;
    
}


/*Contactanos por whatsapp*/
.video-telefono{
    position: relative;
    
    }
    


/*PRODUCTOS*/
input[type="checkbox"]{
    margin: 0 auto;
    padding-left: 1rem;
    flex-basis: -webkit-min-content;
    flex-basis: -moz-min-content;
    flex-basis: min-content;
    height: 5rem;
    width: 5rem;
    
}
input[type="checkbox"]:hover{
    cursor: pointer;
}
.lista-productos{
    display: flex;
    justify-content:flex-start;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.lista-productos li{
    
    
    flex-basis: 70%
      
}





/*FOOTER*/
footer{
    background: #e60a0a;
    color: white;
    padding: .5rem;
    text-align: center;
    font-size: 2.5rem;
}



/*PEDIDO*/

product-list{
    align-items: center;
    border: solid .5px #000000 ;
    margin: 5rem;
    padding: 3rem;
    
    
}
.heading-pedido{
    margin: 0 auto;
   
    
}

.pedido{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    background-color: #FFDB89;
    
    
}
.card-body{
    display: flex;
    flex-direction: row;
    
    
   
    margin: 0 auto;
}
.card-body strong{
    padding-right: 5rem;
    text-align: left;
}
.precio-prod{
    margin-left: 5rem;
}