html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background: rgb(247,9,9);
background: linear-gradient(180deg, rgba(247,9,9,0.7847514005602241) 5%, rgba(247,9,9,1) 56%, rgba(255,255,255,1) 100%);
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    border:0;
    font-family: 'Rubik',
    sans-serif;
    }
.menu{
    text-decoration: none;
    text-transform: uppercase;
    font:impact;
}
img{
    max-width: 100%;
}
video{
    max-width: 100%;
}
 
/*Utilidades*/
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
.centrar-texto{
    text-align: center;
}
.dblock{
    display: inline-block;
}
/*Header*/
.site-header{
    background: #e60a0a;
}
.barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px){

.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    flex-direction: row;
}
        }

   
    
.logotipo{
    
    border-radius: 50%;

}
.menu img{
    height: 6rem;
    width: 6rem;
    
}



/*Contactanos por whatsapp*/
.contacto{
    display: flex;
    flex-direction: column;
    
   
}


@media (min-width:768px){

 .contacto {
     display: grid;
     grid-template-columns: 60% 40%;
     column-gap: 2rem;
}
    
}
 .telefono {
     max-width: 95%;
 }

 .mensaje-conactanos {
     flex-basis: calc(40% - 1rem);
 }
 


.mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    flex-basis: calc(60% - 2rem);
    text-align: justify-all;
}
.mensaje .motito{
    flex-basis: calc(40% - 1rem);
}
.icono-whatsapp{
    max-width: 40%;
}